.zei{
	justify-content: flex-end;
}
.dj{
	justify-content: flex-start;

}

.lef{
	padding-right:10px; 
}
.red{

	padding:10px;
}
.contener{


	 display: flex;
    padding: 20px;
	justify-content: center;
}

  
